<!DOCTYPE html>
<html>
<head>
<style>
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 0.5em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 2.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 2px solid gray;
    padding: 3em;
    overflow: hidden;
}
</style>
</head>
<body>

<div class="container">

<header>
   <h1>BVRITH</h1>
   
</header>
  
<nav>
  <ul>
    <li><a href="#">Student Details</a></li>
    <li><a href="#">Academics</a></li>
    <li><a href="#">Resume details</a></li>
  </ul>
</nav>

<article>
  <h1>NOTIFICATIONS</h1>
</article>



</div>

</body>
</html>

